*{
	border: 0;
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	font: 500 16px 'Oswald',Helvetica,Arial,"Liberation Sans";
}
#insetBgd {
	background: -moz-linear-gradient(-90deg, #003471, #448CCB);
	background: -o-linear-gradient(left top, left bottom, #003471, #448CCB);
	background: -webkit-linear-gradient(left top, left bottom, #003471, #448CCB);
	background: linear-gradient(to left top, left bottom, #003471, #448CCB);
	height: 100px;
}
#insetBgd h1 { 
	padding-top: 12px;
	font-family: Rockwell,Georgia,"Times New Roman",Times,serif; fontsize: 3.2em;
	color: #092448;
	text-shadow: rgba(0,0,0,0.5) -1px 0,
	rgba(0,0,0,0.3) 0 -1px,
	rgba(255,255,255,0.5) 0 1px,
	rgba(0,0,0,0.3) -1px -2px;
	text-align: center;
}
/* Estilo para el botón de generación de los números aleatorios */
.button-wrapper {
	display: block;
	margin: 0px auto;
	padding: 20px 0px;
	width: 100%;
}
.a-btn{
	background:#80a9da;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(#6f97c5,1));
	background:-webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background:-moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background:-o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background:linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	padding-left:20px;
	padding-right:80px;
	height:38px;
	display:block;
	position:relative;
	border:1px solid #5d81ab;
	-webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px
	rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px
	rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px
	rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	float:left;
	clear:both;
	margin:10px 0px;
	overflow:hidden;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	transition:all 0.3s linear; 
	text-decoration: none;
}
.a-btn-text{
	padding-top:5px;
	display:block;
	font-size:18px;
	white-space:nowrap;
	text-shadow:0px 1px 1px rgba(255,255,255,0.3);
	color:#446388;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
.a-btn:hover{
	-webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px
	rgba(0,0,0,0.2);
	-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px
	rgba(0,0,0,0.2);
	box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px
	rgba(0,0,0,0.2);
	text-decoration: none; padding-right:180px;
}
.a-btn:active{
	position:relative;
	top:1px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
	box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
	border-color:#80a9da;
}
#listanumeros { 
	clear: both;
display: block;
width: 100%;
}