section{
    overflow: hidden;
    margin-top: 15px;
    width: 33%;
}
section article p{
  font-size: 20px;
  text-align: justify;
}
section article{
    font-size: 0.9rem;
    height: 340px;
    width: 99%;
    float: left;
    border: 2px solid #080808;
    box-sizing: border-box;
    overflow: hidden;
}

section article img{
  height: 100%;
    max-width: 80%;
    margin: 5px auto;
    display: block;
}