section{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 10px;
    
  }
  
  section article{
    font-size: 0.9rem;
    height: 100px;
    width: 32.33%;
    float: left;
    margin: 0.5%;
    border: 2px solid #080808;
    padding: 1%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(212, 206, 206, 0.582);
  }
  section article p{
    font-size: 24px;
    
    text-align: justify;
  }
  section article img{
    height: 100%;
    max-width: 80%;
    margin: 5px auto;
    display: block;
  }