*{
    margin: 0;
    padding: 0;
  }
  
nav {
    text-align: center;
    
}
nav > ul {
    list-style: none;
    display: inline-block;
    background: #ddd;
    border-radius: 5px;


}
  nav > ul > li {
    float: left;
    width: 150px;
    height: 65px;
    line-height: 65px;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;

  }
  nav >ul> li>a{
      text-decoration: none;
      color: #ddd;
  }
  nav > ul > li:hover {
    background: #d5d5d5;
    border-radius: 5px;
  }
  
  ul.drop-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0;
  }
  ul.drop-menu li {
    background: #666;
    color: rgba(255, 255, 255, 0.7);
  }
  ul.drop-menu li:hover {
    background: #606060;
    z-index: 100;
  }
  ul.drop-menu li:last-child {
    border-radius: 0px 0px 5px 5px;
  }
  
  ul.drop-menu li {
    display: none;
  }
  
  li:hover > ul.drop-menu li {
    display: block;
  }
  

li:hover > ul.drop-menu.menu{
    perspective: 1000px;
}
li:hover > ul.drop-menu.menu li{
    opacity: 0;
}
li:hover > ul.drop-menu.menu li:nth-child(1){
    animation-duration: 300ms;
    animation-name: menu1;
    animation-delay: 300ms -300;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu li:nth-child(1){
    animation-duration: 300ms;
    animation-name: menu1;
    animation-delay: 0ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu li:nth-child(2){
    animation-duration: 300ms;
    animation-name: menu1;
    animation-delay: 150ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu li:nth-child(3){
    animation-duration: 300ms;
    animation-name: menu1;
    animation-delay: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu li:nth-child(4){
    animation-duration: 300ms;
    animation-name: menu1;
    animation-delay: 450ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes menu1{
    0%{
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg) translateY(0px);
    }
}
section{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 10px;
    
  }
  
  section article{
    font-size: 0.9rem;
    height: 100px;
    width: 32.33%;
    float: left;
    margin: 0.5%;
    border: 2px solid #080808;
    padding: 1%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(212, 206, 206, 0.582);
  }
  section article p{
    font-size: 24px;
    
    text-align: justify;
  }
  section article img{
    height: 100%;
    max-width: 80%;
    margin: 5px auto;
    display: block;
  }
  a{
      color: #080808;
      text-decoration: none;
  }