@font-face {
	font-family: 'YanoneKaffeesatzRegular';
	src: url('../fonts/yanonekaffeesatz-regular-webfont.eot');
	src: url('../fonts/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'),
	url('../fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
	url('../fonts/yanonekaffeesatz-regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}