#imgwrapper {
    /* Old browsers */
    background: #ffffbc; 
    /* FF3.6+ */
    background: -moz-linear-gradient(-45deg, #ffffbc 0%, #f9fccf 100%); 
    /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffbc), color-stop(100%,#f9fccf)); 
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(-45deg, #ffffbc 0%,#f9fccf 100%); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(-45deg, #ffffbc 0%,#f9fccf 100%); 
    /* IE10+ */
    background: -ms-linear-gradient(-45deg, #ffffbc 0%,#f9fccf 100%); 
    /* W3C */
    background: linear-gradient(135deg, #ffffbc 0%,#f9fccf 100%); 
    /* IE6-9 fallback on horizontal gradient */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffbc', endColorstr='#f9fccf',GradientType=1 ); 
    border-radius: 25px;
    border: 6px ridge rgba(30,125,200,0.75);
    height: auto;
    margin: 26px auto;
    padding: 16px 18px;
    width: 18%;
}

#imgwrapper p {
    color: #1E4496;
    font: Normal 1em/1 'Cantarell-Regular',Arial,Helvetica,"Liberation Sans";
    text-shadow: 3px 3px 2px #297CA6;
}

img {
	-moz-box-shadow: 2.5px 2.5px 0.5px 0 rgba(125,127,125,0.8);
	-webkit-box-shadow: 2.5px 2.5px 0.5px 0 rgba(125,127,125,0.8);
	-o-box-shadow: 2.5px 2.5px 0.5px 0 rgba(125,127,125,0.8);
	-ms-box-shadow: 2.5px 2.5px 0.5px 0 rgba(125,127,125,0.8);
    box-shadow: 2.5px 2.5px 0.5px 0 rgba(125,127,125,0.8);
	display: block;
	height: 122px;
	width: 130px;
	margin: 0 auto;
}