@font-face { 
    font-family: 'Cantarell-Regular'; 
    src: url('../fonts/Cantarell-Regular.otf'); 
    src: url('../fonts/Cantarell-Regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Cantarell-Regular.woff') format('woff'), 
         url('../fonts/Cantarell-Regular.ttf') format('truetype'), 
         url('../fonts/Cantarell-Regular.svg#Cantarell-Regular') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}