@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600);



html, body {
     height: 100%;
}

body {
    background: #53e9a3; 
    font: Normal 16px 'Lato',Arial,Helvetica,"Liberation Sans";
}

article p{
  border: ridge 6px #e6e9b6;
    color: #000;
    font-family: 'Lato',Arial,Helvetica,"Liberation Sans";
    font-size: 1em;
    font-weight: 700;
    margin: 12px auto;
    padding: 16px 12px;
    width: 78%;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    font-size: 30px;
    line-height : 20px;
    color: #000;

}