@font-face {
	font-family: 'Chunkfive';
	src: url('../fonts/Chunkfive.eot');
	src: local('CabinBold'), 
	     url('../fonts/Chunkfive.eot?#iefix') format('embedded-opentype'), 
	     url('../fonts/Chunkfive.woff') format('woff'), 
	     url('../fonts/Chunkfive.ttf') format('truetype'),
	     url('../fonts/Chunkfive.svg#Chunkfive') format('svg');
	font-weight: bold; 
    font-style: normal; 
}

@font-face {
	font-family: 'LeagueGothic-Regular';
	src: url('../fonts/LeagueGothic-Regular.eot');
	src: local('LeagueGothic-Regular'), 
	     url('../fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'), 
	     url('../fonts/LeagueGothic-Regular.woff') format('woff'), 
	     url('../fonts/LeagueGothic-Regular.ttf') format('truetype'),
	     url('../fonts/LeagueGothic-Regular.svg#Chunkfive') format('svg');
	font-weight: bold; 
    font-style: normal; 
}