* {
margin: 0;
padding: 0;
}
html, body {
height: 100%;
}
body {
background: rgb(247,247,121); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,247,121,1) 0%, rgba(234,244,144,1)
100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom,
colorstop(0%,rgba(247,247,121,1)),
color-stop(100%,rgba(234,244,144,1))); /* Chrome,Safari4+
*/
background: -webkit-linear-gradient(top, rgba(247,247,121,1) 0%,rgba(234,244,144,1)
100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(247,247,121,1) 0%,rgba(234,244,144,1)
100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(247,247,121,1) 0%,rgba(234,244,144,1)
100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(247,247,121,1) 0%,rgba(234,244,144,1)
100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f779',
endColorstr='#eaf490',GradientType=0 ); /* IE6-9 */
height: 100%;
}
h1{
background: rgba(0,155,125,0.8);
color: #FFFFFF;
font: normal 4.2em Arial,Helvetica,"Liberation Sans";
padding: 6px 0;
text-align: center;
text-shadow: 0 1px 0 #ccc,
0 2px 0 #c9c9c9,
0 3px 0 #bbb,
0 4px 0 #b9b9b9,
0 5px 0 #aaa,
0 6px 1px rgba(0,0,0,.1),
0 0 5px rgba(0,0,0,.1),
0 1px 3px rgba(0,0,0,.3),
0 3px 5px rgba(0,0,0,.2),
0 5px 10px rgba(0,0,0,.25),
0 10px 10px rgba(0,0,0,.2),
0 20px 20px rgba(0,0,0,.15);
}
.menu{
overflow:hidden;
width: 100%;
}
.menu a span{
position:relative;
top:40%;
}
.menu a:hover{
background: #a71b15;
}
.menu li{
display: inline;
margin: 0;
}
.menu li a{
background:#b72236;
-moz-border-radius: 400px;
-webkit-border-radius: 400px;
-o-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
-webkit-box-shadow: 5px 5px 3px 0px rgba(75,25,25,0.75);
-moz-box-shadow: 5px 5px 3px 0px rgba(75,25,25,0.75);
-o-box-shadow: 5px 5px 3px 0px rgba(75,25,25,0.75);
-ms-box-shadow: 5px 5px 3px 0px rgba(75,25,25,0.75);
box-shadow: 5px 5px 3px 0px rgba(75,25,25,0.75);
color: white;
display:inline-block;
height:100px;
margin-right:5px;
margin: 0;
text-align: center;
text-decoration: none;
width:100px;
}
.menu li a:visited{
color: white;
}
.menu ul{
font: bold 14px Verdana;
list-style-type: none;
margin: 36px auto;
padding: 0;
text-align: center;
}
.menu ul li {
margin: 0 12px;
}