@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600);

* {
    margin: 0;
    padding: 0;
}

html, body {
     height: 100%;
}

body {
    background: #9cb8b3; 
    font: Normal 16px 'Lato',Arial,Helvetica,"Liberation Sans";
}

header h1 {
    color: #ebe9f9;
    font: 600 4.2em 'Raleway',Tahoma,Helvetica,"Liberation Sans";
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 hsl(174,5%,80%),
	             0 2px 0 hsl(174,5%,75%),
	             0 3px 0 hsl(174,5%,70%),
	             0 4px 0 hsl(174,5%,66%),
	             0 5px 0 hsl(174,5%,64%),
	             0 6px 0 hsl(174,5%,62%),
	             0 7px 0 hsl(174,5%,61%),
	             0 8px 0 hsl(174,5%,60%),
	             0 0 5px rgba(0,0,0,.05),
	             0 1px 3px rgba(0,0,0,.2),
	             0 3px 5px rgba(0,0,0,.2),
	             0 5px 10px rgba(0,0,0,.2),
	             0 10px 10px rgba(0,0,0,.2),
	             0 20px 20px rgba(0,0,0,.3);
    top: 2.5%;
    width: 100%;
}


article p{
  border: ridge 6px #e6e9b6;
    color: #eaefb5;
    font-family: 'Lato',Arial,Helvetica,"Liberation Sans";
    font-size: 1em;
    font-weight: 700;
    margin: 12px auto;
    padding: 16px 12px;
    width: 78%;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: 30px;
    line-height : 55px;
}